@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #333333;
  position: relative;
  background-color: #fafafa;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 5%;
  left: 6%;
  z-index: 100;
}

footer {
  position: absolute;
  bottom: 5%;
  right: 6%;
  transform: translate(-5%, -6%);
  font-size: 0.75rem;
}
@media (max-width: 1024px) {
  footer {
    right: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 0%;
  }
}

.pg-wrapper.pg-vertical {
  overflow-x: hidden;
}

.pc {
  display: unset;
}
@media (max-width: 1024px) {
  .pc {
    display: none;
  }
}

.tab {
  display: none;
}
@media (max-width: 1024px) {
  .tab {
    display: unset;
  }
}

.sp {
  display: none;
}
@media (max-width: 580px) {
  .sp {
    display: unset;
  }
}

p {
  font-size: 1rem;
}
@media (max-width: 580px) {
  p {
    font-size: 0.75rem;
  }
}

#container section.page {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
#container section.page.top {
  background-image: url("../images/top_bg.png");
}
#container section.page.about {
  background-image: url("../images/about_bg.png");
}
#container section.page.service {
  background-image: url("../images/service_bg.png");
}
#container section.page.price {
  background-image: url("../images/price_bg.png");
}
#container section.page.contact {
  background-image: url("../images/top_bg.png");
}
#container section.page .inner {
  position: relative;
  width: 88%;
  margin: 0 auto;
  padding-top: 10%;
}
@media (max-width: 768px) {
  #container section.page .inner {
    width: 96%;
    padding-top: 20vh;
  }
}
#container section.page .inner .user_ch_wrap {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.16));
  position: absolute;
  right: 0;
  top: 10%;
}
#container section.page .inner .user_ch_wrap .user_ch_container {
  -webkit-clip-path: polygon(0% 0%, 90% 0, 90% 15%, 100% 15%, 90% 45%, 90% 100%, 0 100%);
          clip-path: polygon(0% 0%, 90% 0, 90% 15%, 100% 15%, 90% 45%, 90% 100%, 0 100%);
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 5.5rem 1rem 1.5rem;
  z-index: 10;
  background-color: #fff;
}
@media (max-width: 580px) {
  #container section.page .inner .user_ch_wrap .user_ch_container {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
  }
}
#container section.page .inner .user_ch_wrap .user_ch_container span {
  font-family: "Raleway", sans-serif;
  color: #939393;
  font-size: 0.75rem;
}
@media (max-width: 580px) {
  #container section.page .inner .user_ch_wrap .user_ch_container span {
    font-size: 0.5rem;
  }
}
#container section.page .inner .user_ch_wrap .user_ch_container p {
  font-weight: bold;
  font-size: 1.25rem;
}
@media (max-width: 580px) {
  #container section.page .inner .user_ch_wrap .user_ch_container p {
    font-size: 1rem;
  }
}
#container section.page .inner .bot_txt {
  color: #fff;
  margin-top: 4%;
}
#container section.page .inner .bot_txt .sec_head {
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 1px solid #fff;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1px;
}
#container section.page .inner .bot_txt .sec_head span {
  font-family: "Raleway", sans-serif;
}
@media (max-width: 580px) {
  #container section.page .inner .bot_txt .sec_head {
    font-size: 0.75rem;
  }
}
#container section.page .inner .bot_txt .sec_ttl {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0 1rem;
  text-shadow: rgba(0, 0, 0, 0.16) 1px 1px 6px;
}
@media (max-width: 580px) {
  #container section.page .inner .bot_txt .sec_ttl {
    font-size: 1.25rem;
  }
}
#container section.page .inner .bot_txt.contact {
  color: #333;
}
#container section.page .inner .bot_txt.contact .sec_head {
  border-bottom: 1px solid #333;
}
#container section.page .inner .ch_wrap {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.16));
}
#container section.page .inner .ch_container {
  -webkit-clip-path: polygon(3% 0, 100% 0%, 100% 100%, 3% 100%, 3% 25%, 0 15%, 3% 15%);
          clip-path: polygon(3% 0, 100% 0%, 100% 100%, 3% 100%, 3% 25%, 0 15%, 3% 15%);
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 2rem 2rem 3rem;
  z-index: 10;
  background-color: #fff;
}
@media (max-width: 580px) {
  #container section.page .inner .ch_container {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  }
}
#container section.page .inner .ch_container h2 {
  font-size: 2rem;
  line-height: 2.75rem;
  letter-spacing: 0.25rem;
}
#container section.page .inner .ch_container h2 + p {
  margin-top: 1rem;
}
#container section.page .inner .ch_container p {
  line-height: 1.75rem;
}
@media (max-width: 580px) {
  #container section.page .inner .ch_container p {
    line-height: 1.5rem;
  }
}
#container section.page .inner .ch_container a.with_arrow {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  border-bottom: 1px solid #333333;
  letter-spacing: 1px;
  margin-top: 1rem;
  padding-right: 2rem;
}
#container section.page .inner .ch_container a.with_arrow:before {
  position: absolute;
  content: "";
  width: 0.75rem;
  height: 1px;
  background-color: #333;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container section.page .inner .ch_container a.with_arrow:after {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  right: 2px;
  top: 45%;
  transform: rotate(45deg) translateY(-50%);
}
#container section.page .inner .ch_container.fl_3 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  flex-wrap: wrap;
}
#container section.page .inner .ch_container.fl_3 span {
  font-size: 0.75rem;
  color: #7b7b7b;
  font-family: "Raleway", sans-serif;
}
#container section.page .inner .ch_container.fl_3 h3 {
  font-size: 1.25rem;
}
@media (max-width: 580px) {
  #container section.page .inner .ch_container.fl_3 h3 {
    font-size: 1rem;
  }
}
#container section.page .inner .ch_container.fl_3 a {
  padding: 0 1rem;
  width: 28%;
}
@media (max-width: 580px) {
  #container section.page .inner .ch_container.fl_3 a {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #container section.page .inner .ch_container.fl_3 a div {
    align-self: center;
  }
  #container section.page .inner .ch_container.fl_3 a img {
    width: 20%;
  }
}
#container section.page .inner .lead_txt {
  position: absolute;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  opacity: 0.4;
  color: #dbdbdb;
  line-height: 1.1em;
  right: 0;
  bottom: 15%;
}
@media (max-width: 768px) {
  #container section.page .inner .lead_txt {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12.5%;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 768px) and (max-width: 580px) {
  #container section.page .inner .lead_txt {
    font-size: 2.5rem;
  }
}
#container section.page .inner .lead_txt.col_fff {
  color: #fff;
}
#container section.page .inner .lead_txt.col_333 {
  color: #333;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotation_rev {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#gears_menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  padding-left: 3rem;
  cursor: pointer;
}
#gears_menu img {
  position: relative;
}
#gears_menu img:nth-child(1) {
  right: 30px;
  top: 5px;
  animation: 0.2s linear 1 rotation_rev;
}
#gears_menu img:nth-child(1).active {
  animation: 0.2s linear 1 rotation;
}
#gears_menu img:nth-child(2) {
  bottom: 9px;
  left: 2px;
  transform: rotate(25deg);
  animation: 0.2s linear 1 rotation;
}
#gears_menu img:nth-child(2).active {
  animation: 0.2s linear 1 rotation_rev;
}
#gears_menu span {
  position: relative;
  right: 40px;
  bottom: 25px;
}

#menu {
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  place-content: center;
  font-size: 1.5rem;
  gap: 2%;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 80%;
  inset: 50%;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.13); /* 薄い影 */
}
#menu.active {
  display: grid;
  animation: fadeIn 0.5s ease forwards;
}

#navigation {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
  display: flex;
  max-width: 850px;
  width: 90%;
  justify-content: space-between;
  padding: 20px 5%;
  font-size: 90%;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  background-color: rgba(255, 255, 255, 0.2);
}
#navigation a {
  font-weight: bold;
}
#navigation a.active {
  color: #c80b27;
  position: relative;
}
#navigation a.active::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #c80b27;
  border-radius: 50%;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 580px) {
  #navigation a.active::before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */